@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Liens principaux */
/* line 9, ../sass/custom.scss */
a {
  color: #262C38;
  text-decoration: none;
}

/* line 13, ../sass/custom.scss */
a:hover, a:focus {
  color: #86BC42;
  text-decoration: none;
}

/* line 17, ../sass/custom.scss */
a:hover, a:focus, a:active {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  outline: none !important;
  color: #86BC42;
}

/* Default fonts */
/* line 28, ../sass/custom.scss */
body {
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #657184;
  font-weight: 400;
}

/* line 35, ../sass/custom.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: #262C38;
}

/* .menu--besoins */
/* line 42, ../sass/custom.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
}

/* 
regions fullwidth
*/
/* line 51, ../sass/custom.scss */
.fullwidth {
  width: 100%;
  background: #fff;
}

/* line 55, ../sass/custom.scss */
.fullwidth_inner {
  margin: 0 auto;
  padding: 0px 0px;
}

/*.topbar */
/* line 60, ../sass/custom.scss */
.top_navigation {
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding: 0;
  margin-top: -1px;
}

/* line 70, ../sass/custom.scss */
.footer_navigation {
  background: #222;
}

/*.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb .breadcrumb-style */
/* line 75, ../sass/custom.scss */
.title_breadcrumb {
  background-color: #F6F6F6;
  padding: 40px 0 30px;
  margin-bottom: 45px;
  position: relative;
}

/* MENU PRINCIPAL
.navigation .gva_menu li a = .menu--besoins
*/
/* line 94, ../sass/custom.scss */
.menu--besoins li a {
  text-align: left !important;
}

/* line 97, ../sass/custom.scss */
.menu--besoins > li > a {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 22px 12px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  text-align: center;
  color: #656565;
}

/* line 113, ../sass/custom.scss */
.menu--besoins > li:hover a {
  color: #86BC42 !important;
}

/* todo: active trail à activer */
/* line 117, ../sass/custom.scss */
.menu--besoins > li.menu-item--active-trail > a {
  color: #86BC42 !important;
}

/**
* blocs headers
*/
/* line 124, ../sass/custom.scss */
#block-besoins {
  float: right;
}

/* line 127, ../sass/custom.scss */
#block-crise-search {
  float: right;
}

/* line 130, ../sass/custom.scss */
#block-reseauxsociaux {
  float: right;
}

/*temp*/
/* line 136, ../sass/custom.scss */
.alert-info {
  background: none;
  border: none;
}
