/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Liens principaux */
a {
    color: #262C38;
    text-decoration: none;
}
a:hover, a:focus {
    color: #86BC42;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    outline: none !important;
    color: #86BC42;
}

/* Default fonts */
body {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #657184;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: #262C38;
}
/* .menu--besoins */
.nav > li,
.nav > li > a {
  display: inline-block;
}

/* 
regions fullwidth
*/

.fullwidth {
  width: 100%;
  background: #fff;
}
.fullwidth_inner {
  margin: 0 auto;
  padding: 0px 0px;
}
/*.topbar */
.top_navigation {
    background: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 12px;
    padding: 0;
    margin-top: -1px;
}
.main_navigation {

}
.footer_navigation {
  background: #000;
}

/*.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb .breadcrumb-style */
.title_breadcrumb {
    background-color: #F6F6F6;
    padding: 40px 0 30px;
    margin-bottom: 45px;
    position: relative;
}


/* MENU PRINCIPAL (besoins)
.navigation .gva_menu li a = .menu--besoins
*/
.menu--besoins li a,
.menu--main li a {
    text-align: left !important;
}
.menu--besoins > li > a,
.menu--main > li > a {
    display: block;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 12px;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    text-align: center;
    color: #656565;
}

.menu--besoins > li:hover a,
.menu--main > li:hover a {
    color: #86BC42 !important;
}
/* todo: active trail à activer */
.menu--besoins > li.menu-item--active-trail > a,
.menu--main > li.menu-item--active-trail > a {
    color: #86BC42 !important;
}

.menu--menu-secondaire li {
  list-style: none;
}

/**
* blocs headers
*/

#block-crise-main-menu,
#block-besoins {
  float: right;
}
#block-crise-formulaireexposeenvironnement-recherchepage-1,
#block-crise-search {
  float: right;
  width: 400px;
}
#block-reseauxsociaux {
  float: right;
}
.views-exposed-form .form-item input {
    width: 165px;/*temp*/
}

/* Barre Grise (region Breadcrumb) */
.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: none !important;
}

/* Région Aide/Alertes */
.alert-info {
  background: none;
  border: none;
  padding: 0;
}
.alert-info .icon {
  display: none;
}


/* Menus */
/* Retirer puces CSS sur items de menu */
ul.menu > li a:after {
  display: none;
}

#block-menusecondaire-2 {
  display: inline-block;
}

/* Régions (suite) */
.page_bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer {
  background: #000;
}


/* Noeuds*/
/*add2any float right */
#block-addtoanybuttons-2  {
  display: inline-block;
  float: right;
}

.content .field {
  margin-bottom: 2em;
}
.field--label {
  font-weight: bold;
}

/* Sidebars */
/* Titres des blocs dans la sidebar */
.well,
.region-sidebar-first,
.region-sidebar-second {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.block .block-title {
  background: none;
  position: relative;
  margin: 0 0 10px;
  color: #86BC42;
  border-bottom: 1px solid #86BC42;
  z-index: 1;
/*span*/
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
  color: #222;
  padding: 10px 0 10px;
  z-index: 9;
}


/* Taxos listes dans la sidebar */
.item-list ul {
  overflow: hidden;
  padding: 0;
}
.item-list ul li.view-list-item {
  margin: 0 0 30px;
  overflow: hidden;
  list-style-type: none;
}

.region-sidebar-second,
.region-sidebar-first {
  .field--type-entity-reference {
    border: none;
    margin: 0 0 10px !important;
    padding: 0 !important;
    border: none !important;
    /* Liens Taxos Sidebar */
        a {
        padding: 10px 10px 10px 20px;
        display: block;
        border: 1px solid #EEEEEE;
        background: #F6F6F6;
        color: #bbbbbb;
        text-transform: none;
        font-size: 13px;
        overflow: hidden;
        -webkit-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        position: relative;
      }
      a:after {
        content: "\f178";
        position: absolute;
        top: 10px;
        left: -20px;
        font-family: "FontAwesome";
        z-index: 1;
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden;
        -webkit-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        color: #86BC42;
      }
      a:hover, 
      a:focus, 
      a:active {
        color: #86BC42;
        padding-left: 40px;
      }

  }

  /* autres règles sidebar */
}

/* Region Page Bottom */

.region-page-bottom {
    .views-field-title {
      font-weight: bold;
    }
    .views-row {
        margin-bottom: 2em;
    }
}


/* Accueil bloc recherche à développer */


