
/**
* 1.0 General
* 1.1 Typographie
* Regions
* 2.1 Menu secondaire
* 2.2 Blocs headers 
* 2.3 Recherche - Blocs de recherche
* 2.4 Barre Grise (region Breadcrumb) 
* 2.5 Région Aide/Alertes 
* 2.6 Menus 
* 2.7 Noeuds - Règles générales 
* 2.8 Region Content Bottom 
* 2.9 Region Page Bottom 
* 2.10 Sidebars 
* 2.11 Footer 
* Fonctionnalités
* 3 Vues + Listes - règles générales 
* 3.1 Label des champs, label des EVA 
* 3.2 Glossaire - Bonifications 
* 3.3 Liens Read More
* 3.4 Vertical Tabs 
* 3.5 Quicktabs 
* 3.6 Création Compte Utilisateur 
* 3.7 Profil Utilisateur
* 3.8 Collapsiblock
* 3.9 Flags
* 3.10 Intégration profil Utilisateur 
* 3.11 Contact - Bonifications 
* 3.12 Modèle associé + Services associés sur Besoin
* 3.13 Taxonomie Listes 
* 3.14 Profil Usager (Doublon) 
* 3.15 Médias 
* 4 Responsive @media 
* 5 Varia 
*/


/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: local("☺"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}


.fa,
.crise-flags a::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-twitter::before {
    content: "\f099";
}
/* fa-flag */
.region-breadcrumb .crise-flags a::before {
    content: "\f024";
}


/**
* Éléments principaux
**/
i,
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

/* Liens principaux */
a,
.ui-widget-content a {
/* Même gris que le texte par défaut */
    color: #657184;
    text-decoration: none;
}
a:hover, a:focus {
    color: #86BC42;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    outline: none !important;
    color: #86BC42;
}
.field--name-body,
.field--name-field-citation {
  a {
    color: #86BC42;
  }
  a:hover, 
  a:focus, 
  a:active {
    text-decoration: underline;
  }
}
/*Exceptions: 
- Bouton Réinitialiser dans le corps de Recherche */
.path-recherche,
.path-bibliographie {
   .field--name-body a.btn {
    color: #fff;
  }
  .field--name-body a.btn:hover {
    color: #86BC42;
  }
}

/* Default fonts */
body {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #657184;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: #262C38;
}
p {
  margin-bottom: 1em;
}
.block-title {
  clear: both;
}
/*ul {
  padding-left: 30px;
}*/
ul.js-facets-checkbox-links {
  padding-left: 0;
  input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
  }
}
/*
table > thead > tr > th, 
table > thead > tr > td, 
table > tbody > tr > th, 
table > tbody > tr > td, 
table > tfoot > tr > th, 
table > tfoot > tr > td */
/* Ajouter bordure gauche sur les tables du profil */
.path-user table > tbody > tr > td {
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
}

/* .menu--besoins */
/*.menu--besoins {
  .nav > li,
  .nav > li > a {
    display: inline-block;
  }
}*/

/**
* Boutons par défaut
* Déclarer les endroits ou la classe btn ne peut s'ajouter automatiquement
*/
.btn, 
.path-user .view-header a,
.menu--menu-secondaire > li > a,
.path-taxonomy .links a {
    background: #86BC42;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 9px 24px 9px;
    position: relative;
    display: inline-block;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #86BC42;
}
.btn:hover, 
.path-user .view-header a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.is-active,
.navbar-default .navbar-nav > .active > a:hover {
    color: #86BC42;
    background: #fff;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .btn-primary.dropdown-toggle {
    border-color: #86BC42;
}


/**
* Typographie
*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: #262C38;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 14px;
    margin-bottom: 14px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 14px;
    margin-bottom: 14px;
}
h4, h5 {
    line-height: 1.4;
}
h1, .h1 {
    font-size: 32px;
}
h2, .h2 {
    font-size: 28px;
}
h3, .h3 {
    font-size: 22px;
}

h4, .h4 {
    font-size: 18px;
}
h5, .h5 {
    font-size: 16px;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.text-white {
    color: #fff !important;
}
.bg-theme {
    background: #86BC42;
}
.bg-black {
    background: #333333;
}
.dropcap {
    display: block;
    float: left;
    font-size: 40px;
    line-height: 34px;
    color: #444;
    margin: 6px 8px 0 0;
}
.dropcap.border-dropcap {
    border: 2px solid #444;
    width: 46px;
    height: 46px;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin: 8px 12px 0 0;
}
.dropcap.circle-dropcap {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #444;
    width: 46px;
    height: 46px;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin: 8px 12px 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 14px;
}
ul li {
    list-style: inherit;
}


ul {
    margin: 0;
    padding-left: 30px;
}


/**
* Regions
*/
.region-content {
  margin-bottom: 2em;
}

/* Fullwidth */
.fullwidth {
  width: 100%;
  background: #fff;
}
.fullwidth_inner {
  margin: 0 auto;
  padding: 0px 0px;
}
/*.Topbar */
.top_navigation {
    background: none;
    border-bottom: none;
    font-size: 12px;
    padding: 0;
    margin-top: -1px;
}
.main_navigation {

}

/*.breadcrumb-content-inner .gva-breadcrumb-content .gva-block-breadcrumb .breadcrumb-style */
.title_breadcrumb {
    background-color: #F6F6F6;
    padding: 30px 0;
    margin-bottom: 35px;
    position: relative;
}
/* Exceptions */
.path-frontpage .title_breadcrumb {
  display: none;
}
/* Laisser un espace pour Flag et Add2Any */
.region-breadcrumb {
  h1 {
    width: 70%;
  }
}

/* MENU PRINCIPAL (besoins)
.navigation .gva_menu li a similaire à .menu--besoins */

#block-crise-main-menu {
  float: left;
}


/*
.menu--besoins li a,
.menu--main li a {
    text-align: left !important;
}
.menu--besoins > li > a,
.menu--main > li > a {
    display: block;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 12px;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    text-align: center;
    color: #656565;
}

.menu--besoins > li:hover a,
.menu--main > li:hover a {
    color: #86BC42 !important;
}
*/

/* todo: active trail à activer */
/*
.menu--besoins > li.menu-item--active-trail > a,
.menu--main > li.menu-item--active-trail > a {
    color: #86BC42 !important;
}

.menu--menu-secondaire li {
  list-style: none;
}
*/


/* aligner items menu principal avec le slogan */
.navbar-default .navbar-nav > li > a {
  color: #777;
  padding-left: 0;
}
.region-main-navigation {
  text-align:center;
}


/**
* Menu secondaire
*/

ul.menu.menu--menu-secondaire > li {
    display: inline-block;
    padding: 0; /* enlève 6px */
}

/*
#block-crise-main-menu, #block-besoins {
  float: none;
  margin: 0 auto;
  width: 100%;
}*/

.navbar-default {
  background-color: transparent;
  border-color: #fff;
  margin-bottom:0;
}
.navbar {
  border-radius: 0;
}
/*
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #222;
}*/
.region-main-navigation {
  margin-top: 15px;
  margin-bottom: 30px;
}
.alert {
  margin-bottom:0;
}
/**
* Blocs headers
*/
#block-besoins {
  float: right;
}
#block-crise-formulaireexposeenvironnement-recherchepage-1,
#block-crise-search {
  float: right;
  width: 25%;
  margin-bottom: 0;
}
#block-collapsiblesearch {
  width: auto;
  position: absolute;
  right: 0;
  top: 5px;
}

.views-exposed-form .form-item input {
  /*width: 165px;*/
}

/* Temporaire - Réduire bouton en double */
#block-collapsiblesearch .btn {
/*  border-radius: 0;
  border: none;
  padding: 0;*/
}

#block-reseauxsociaux {
/*padding-right: 0;
clear: none;
text-align: right;*/
padding-right: 0;
clear: none;
position:absolute;
right: 0;
top:0;
}

/* Bloc recherche */
#block-collapsiblesearch {
 /* top: 47px;*/
 width: auto;
position: absolute;
right: 60px;
top: 6px;
}
.user-logged-in #block-collapsiblesearch {
 /* top: 47px;*/
}

ul.list-social li {
  display: inline;
  padding: 0 10px;
  list-style: none;
  font-size: 24px;
}
/* Slogan V2 (Bloc) */
#block-textepresentationsite {
  margin-bottom:0;
  float:left;
  display:inline-block;
  clear:left;
  margin-top: -40px;
  p {
  padding-left: 96px; /* Taille du logo */
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}
}


/* Remplacer icone Refresh par Loupe en CSS */
.glyphicon-refresh::before {
  content: "\e003";
}



/* Recherche - Blocs de recherche*/
.path-recherche {
  /*.views-exposed-form {
    width: 83%;
    float: left;
  }
  #block-reinitialiserrecherche {
    float: left;
    display: inline-block;
  }
  
  #block-textepresentationrecherchegenerale {
     clear: both;
   }
   #edit-search-api-fulltext {
     width: auto;
   }
   .region-top-navigation #edit-search-api-fulltext {
     width: 50%;
   }
   .region-header #edit-search-api-fulltext {
     width: 100%;
     border-radius: 20px;
   }*/

}

/* Bibliographie */
.path-bibliographie {
  
  /*#block-reinitialiserrecherche {
    float: left;
    display: inline-block;
  }
  #block-textepresentationrecherchegenerale {
     clear: both;
   }
   #edit-search-api-fulltext {
     width: auto;
   }
   .region-top-navigation #edit-search-api-fulltext {
     width: 50%;
   }
   .region-header #edit-search-api-fulltext {
     width: 100%;
     border-radius: 20px;
   }*/

}
#block-views-exposed-filter-block-environnement-recherche-bibliographie-page-1 {
  .glyphicon-search::before {
    display:none;
  }
}

#edit-submit-environnement-recherche-bibliographie {
  .glyphicon {
    display:none;
  }
}

/* Liste Ref Biblio */
#block-views-exposed-filter-block-environnement-recherche-bibliographie-page-1 {
 /* width: 83%;
  float: left;*/
  margin-bottom:0;
}

/* Liste Taxonomies */
#block-formulaireexposeenvironnement-recherchepage-1-2 {
/*  width: 83%;
  float: left; */
   #edit-search-api-fulltext {
     border-radius: 20px;
   }
}


/* doit apparaitre après les autres champs recherche
.block-views-exposed-filter-blockenvironnement-recherche-bibliographie-page-1 .form-type-search-api-autocomplete {
  width: 83%;
}*/



.facet-item__value {
  text-transform: uppercase;
}
/* réinitialiser */
.path-bibliographie #block-block-content-f42d7565-ff15-4392-9969-8815a9e08493 {
  float: left;
  display: inline-block;
}
/* bloc presentation section reference biblio */
#block-block-content-c1ce5120-b8b3-43b7-89ef-432122f6504d {
	clear: both;
} 

/* Accueil - Recherche avec facette */
/* Mettre le formulaire pleine largeur, réparti entre 3 éléments:  15%/70%/15% 

contextual-region block block-views block-views-exposed-filter-blockenvironnement-recherche-bibliographie-page-1 clearfix
*/
.block-views-exposed-filter-blockenvironnement-recherche-page-1,
.block-views-exposed-filter-blockenvironnement-recherche-bibliographie-page-1 {
  .form-item-crise-facet {
      /*  width: 15%;
        float: left;*/
  }
  .form-type-search-api-autocomplete {
/*     width: 74%;*/
  }
  /* valider ailleurs*/
  .form-actions {
   /* width: 15%;*/
  }
  .form-inline .input-group, .navbar-form .input-group {
  /*  width: 100%;*/
  }
  .views-exposed-form .form-item {
    padding-right: 0;
  }

  #edit-search-api-fulltext--2 {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }

}
/* Variante pour le champ apparaissant sur la page Recherche */
#views-exposed-form-environnement-recherche-page-1 {
  .form-type-search-api-autocomplete {
   /* width: 85%;
    float: left;*/
  }
}
.path-frontpage #views-exposed-form-environnement-recherche-page-1 {
  .form-type-search-api-autocomplete {
   /* width: 70%;
    float: left;*/
  }
}

.block-views-exposed-filter-blockenvironnement-recherche-bibliographie-page-1 .form-type-search-api-autocomplete {
  /*  width: 83% !important;*/
}


/* Ne pas montrer une loupe supplémentaire sur le bouton Rechercher */
#edit-submit-environnement-recherche .glyphicon {}

/* Ne pas montrer loupe supplémentaire sur Accueil Recherche Facette (main-container) et sur Recherche (region header) */
.main-container #edit-submit-environnement-recherche .glyphicon,
.region-header  #edit-submit-environnement-recherche .glyphicon  {
  display: none;
}

/* Form */
#views-exposed-form-environnement-recherche-page-1 {
  
}




/* Ne pas montrer la loupe du thème sur formulaire Recherche */
.input-group-addon {
  display: none;
}
.input-group .form-control:first-child {
  border-bottom-right-radius: auto;
  border-top-right-radius: auto;
}

.menu--menu-secondaire > li > a {
 padding: 2px 6px !important;
 letter-spacing: 0;
 margin-right: 8px !important;

/*    color: #86bc42;
    padding: 3px 8px;
    border-radius: 8px;
    border: 1px solid #86bc42;
    margin-right: 8px;
    text-align: center;
    background: #fff;*/

}

#edit-search-api-fulltext,
.block-views-exposed-filter-blockenvironnement-recherche-page-1 #edit-search-api-fulltext--2, .block-views-exposed-filter-blockenvironnement-recherche-bibliographie-page-1 #edit-search-api-fulltext--2 {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}


#views-exposed-form-environnement-recherche-page-1 .views-exposed-form > div {
  display: flex;
  align-items: center;
}


/* Barre Grise (region Breadcrumb) */
.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: none !important;
    float: left;
}
.page-title,
.page-header {
    font-size: 22px;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}
/*
Module Add2Any - Ajoute les boutons de partage dans la barre du titre
Addtoany2 = ChampInteret, GroupeEnjeu
Addtoany4 = BibCite
Addtoany5 = Medias
*/
#block-addtoanybuttons-1,
#block-addtoanybuttons-2,
#block-addtoanybuttons-3,
#block-addtoanybuttons-4,
#block-addtoanybuttons-5 {
  margin-bottom: 0;
  display: inline-block;
  float: right;
}

.addtoany_list {
  line-height: 20px;
  /* option: aligner top avec vertical-align: top; */
}
.crise-flags {
  display: none;
}
.user-logged-in .crise-flags {
  display: block;
}
/* Override vertical-align: middle */
.addtoany_list > a, .addtoany_list a img, .addtoany_list a > span {
    vertical-align: top;
}

/* Région Aide/Alertes */
.alert-info {
  background: none;
  border: none;
  padding: 0;
}
.alert-info .icon {
  display: none;
}


/* Menus */
/* Retirer puces CSS sur items de menu */
ul.menu > li a:after {
  display: none;
}

#block-menusecondaire-2 {
  display: inline-block;
}

/* Régions (suite) */
.page_bottom {
  padding-top: 0;
  padding-bottom: 50px;
}
.footer,
.copyright,
.footer_navigation {
  background: #000;
}
#block-footercopyright-2 img {
    vertical-align: middle;
    padding-top: 15px;
}





/* Noeuds - Règles générales */
.content .field {
  margin-bottom: 2em;
}
.field--label {
  font-weight: bold;
}
/* Si on utilise les 3 points sous un titre, utiliser le titre comme point de référence */
h3.no-icons {
  position: relative;
}
/* Theming Collapsiblock */
.field--name-field-ref-biblio {
  .field-view {
    margin-bottom: 2em;
  }
}
.field-group-accordion-wrapper {
  margin-bottom: 2em;
  .ui-state-active {
    background-color: #86bc42;
    border: #86bc42;
  }
}


/* Region Content Bottom */

.widget.gsc-icon-box .highlight_content .title {
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color: #222;
    margin-bottom: 3px;
}
.widget.gsc-icon-box .highlight_content .desc {
    font-size: 15px;
}
/* Separateur Trois Points*/
.accueil_besoins,
.accueil_groupes,
.view-contenus-modele {
  h2.block-title,
  .view-header h3 {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  h2.block-title:after,
  .view-header h3:after {
    content: '';
    width: 10%;
    height: 5px;
    background: url("../images/edubiz_separator.gif") no-repeat center center;
    position: absolute;
    bottom: 0;
    left: 45%;
    z-index: 1;
  }
}


/* Region Page Bottom */

.region-page-bottom {
  .views-field-title {
    font-weight: bold;
  }
  /* Appliquer cadre sur tous les contenus associés en bas de page */
  .views-row {
    /*min-height: 200px;*/

    .pagebottom_wrapper {
      margin: 0;
      border: 1px solid #86BC42;
      padding: 20px;
      min-height: 200px;
    }
    .pagebottom_image,
    .pagebottom_service,
    .pagebottom_modele {

    }
  }
  .view-header h3::after {
    width: 40px;
    left: 45px;
  }
  .view-header h3.noicons::after {
    width: 40px;
    left: 0;
  }
}


/* Titre content bottom */
.widget.gsc-icon-box .highlight_content .title,
.views-field-field-modele,
.views-field-field-service,
.views-field-field-contenu-connexe {
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color: #222;
    margin-bottom: 3px;
}
.widget.gsc-icon-box .highlight_content .desc,
.region-page-bottom .views-field-body {
    font-size: 15px;
}

.widget.gsc-icon-box.left {
    text-align: left;
}
.widget.gsc-icon-box.right,
.widget.gsc-icon-box.left {
    display: table;
}
.widget.gsc-icon-box {
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
}
.widget.gsc-icon-box.left .highlight-icon {
    padding-right: 15px;
}
.widget.gsc-icon-box.right .highlight-icon, .widget.gsc-icon-box.left .highlight-icon {
    display: table-cell;
    vertical-align: top;
    padding-top: 0px;
}
.widget.gsc-icon-box.right .highlight_content, .widget.gsc-icon-box.left .highlight_content {
    display: table-cell;
    vertical-align: top;
}
.widget.gsc-icon-box .highlight_content {
    margin-top: 5px;
}


.widget.gsc-icon-box .highlight-icon .icon-container .icon {
    position: relative;
    z-index: 11;
}
[class^="gv-icon"], [class*=" gv-icon"] {
    font-family: 'gva-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.gv-icon-78:before {
    content: "\e94d";
}
.gv-icon-146:before {
    content: "\e991";
}
.gv-icon-467:before {
    content: "\ead2";
}





/* Sidebars */
/* Titres des blocs dans la sidebar */
.well,
.region-sidebar-first,
.region-sidebar-second {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  /* titre des blocs sidebar */
    .block .block-title {
      background: none;
      position: relative;
      margin: 0 0 10px;
      color: #86BC42;
      border-bottom: 1px solid #86BC42;
      z-index: 1;
    /*span*/
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      letter-spacing: 1px;
      color: #222;
      padding: 10px 0 10px;
      z-index: 9;
    }

}
.page-node-type-connaissance .region-sidebar-second {
  padding:0;
}


/* Taxos listes dans la sidebar */
.item-list ul {
  overflow: hidden;
  padding: 0;
}
.item-list ul li.view-list-item {
  margin: 0 0 30px;
  overflow: hidden;
  list-style-type: none;
}

.region-sidebar-second,
.region-sidebar-first {
  .field--type-entity-reference {
    border: none;
    margin: 0 0 10px !important;
    padding: 0 !important;
    border: none !important;
    /* Liens Taxos Sidebar */
        a {
        padding: 10px 10px 10px 20px;
        display: block;
        border: 1px solid #EEEEEE;
        background: #F6F6F6;
        color: #bbbbbb;
        text-transform: none;
        font-size: 13px;
        overflow: hidden;
        -webkit-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        position: relative;
      }
      a:after {
        content: "\f178";
        position: absolute;
        top: 10px;
        left: -20px;
        font-family: "FontAwesome";
        z-index: 1;
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden;
        -webkit-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        color: #86BC42;
      }
      a:hover,
      a:focus,
      a:active {
        color: #86BC42;
        padding-left: 40px;
      }

  }

  /* autres règles sidebar */
}



/**
* Footer
*/
#footer .block-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 0 10px;
}
.footer a {
  color: #86bc42;
}
.footer a.btn {
  color: #fff;
}
.footer a.btn:hover {
  color: #86bc42;
}
/* Voir aussi responsive < 768px pour alignement du footer*/
#block-footercopyright-2 img {
  max-width: 33%;
}
.copyright .copyright-inner {
  padding: 0;
}
.footer .footer-center {
  padding: 40px 0 0;
}

/**
* Vues + Listes - règles générales 
*/
.views-row {
  margin-bottom: 2em;
}

/* TODO: Exceptions */
/* Source: edubiz/home-2 : Our Services
* .widget.gsc-icon-box .highlight_content .title
*/
.views-field-title,
.views-field-title-1,
.views-field-name {
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color: #222;
    margin-bottom: 3px;
}
/* Exception : Ref Biblio */
.view-contenus-vs-biblio {
  font-size: 16px;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  color: #222;
  margin-bottom: 3px;

  .views-field-title {
    font-size: 15px;
    font-weight: normal;
  }
  .views-row {
    margin-bottom: 0;
  }
}


/* Sur:
 Moteur Recherche - Titres
 Glossaire - Titres
*/

/* Moteur Recherche - Surtitres
* Source : Menu principal - liens
* .navigation .gva_menu > li > a {
*/
.views-field-type,
.views-field-type-1,
.views-field-bundle {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  text-align: left;
  color: #656565;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
}
/* Visible sur
Recherche, Modeles, Services, Ref Biblio
*/
.region-sidebar-first {
  padding: 0;
}


.region-copyright {
  text-align: center;
}


/* Souligné Custom des titres de section dans le thème Edubiz */
.heading-line {
  position: relative;
  display: block;
  text-align: center;
  height: 10px;
  line-height: 5px;

  span {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: inline-block;
    margin: 0 5px;
  }
  span.one {
    background: #5EB4E7;
    margin-left: 0;
  }
  span.second {
    background: #F8C44F;
  }
  span.three {
    background: #F49626;
    margin-right: 0;
  }

}

/* Ne pas rendre les images flexslider responsive à 100% (elles sont plus petites) */
.flexslider .slides img {
  width: auto;
  margin: 0 auto 30px;
}

/* Icones dans Fil Ariane, sur Besoin */
/* Centrer Icone verticalement
   Fonctionne avec et sans icône */
#block-contenufield {
    float: left;
    padding-right: 30px;
    margin-bottom: 0;
    margin-top: -30px;
    padding-top: 15px;
    margin-bottom: -21px;
    line-height: 1;
/*    display: none; */
}

/* Logo */
.logo {
  max-width: 80px; /* TEMP */
  z-index: 999999; /* Fixe un bug sur tablette */
  position: relative
}
.name {
  display: none;
}
/* TEMP recherche entete sur 1 ligne */
#block-crise-formulaireexposeenvironnement-recherchepage-1 {
    float: right;
    width: 35%;
    margin-bottom: 0;
}
.region-top-navigation .views-exposed-form .form-item {
    padding-right: 20px;
    width: 40%;
    float: right;
}
.region-top-navigation #edit-actions {
  float: right;
}
/* Contenir le champ recherche (#block-collapsiblesearch) */
.region-top-navigation {
  position: relative;
}


/* Label des champs, label des EVA */
.field--label,
.region-page-bottom h2.block-title,
.path-frontpage .block-title,
.field-group-accordion-wrapper h3,
.path-user .region-content .block-title {
    font-size: 12px;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    border-bottom: 1px solid #86BC42;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #222;
    letter-spacing: 1px;
}
/* Titre Blocs dans Contenu (exclure footer) */
.path-frontpage .main-container .block-title,
.path-recherche .main-container .region-header .block-title {
  text-align: center;
  color: #000;
  border: none;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 30px;
  text-transform: initial;
}
/**exceptions: Ref Biblio */
.path-bibcite .field--label {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Champ Document, sur Service */
.field--name-field-document {
  .icon,
  .file-link,
  .file-size {
    padding-right: 10px;
  }
}
.file-size {
  font-size: 10px;
}

/*PAGER - VOIR RECHERCHE */


nav.pager-nav {
    clear: both;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #86BC42;
    border-color: #86BC42;
}
.pagination > li {
    display: inline-block;
}

/* facettes */
.facets-widget-links ul {
  padding-left: 0;
}


/* Accueil - bloc Besoins (flexslider carousel) */
/* Taille des flèches */
.flexslider:hover .flex-direction-nav .flex-next:hover,
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  font-size: 24px;
}

#flexslider-1 {
  .views-field-title {
    text-align:center;
    a:hover {
      color: #86BC42;
    }
  }
  .views-field-field-image {
    text-align:center;
  }
  .views-field-body {
    text-align:center;
    font-size: 15px;
  }
  .slides img {
    width: 77px;
    height: 77px;
  }
}

.flex-direction-nav a:before {
  line-height: 1;
}
.flex-direction-nav a {
  top:10%;
}

/*Accueil Besoins + Accueil Groupes */
#flexslider-1,
#flexslider-2 {
  .widget.gsc-icon-box .highlight_content,
  .views-field-title {
     margin-top: 5px;
     margin-bottom: 30px;
  }
  .widget.gsc-icon-box.top-center .highlight_content,
  .views-field-title {
    text-align: center;
  }
  .widget.gsc-icon-box .highlight_content .title,
  .views-field-title a {
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color: #222;
    margin-bottom: 3px;
  }
  .widget.gsc-icon-box.top-center .title,
  .views-field-title a {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
  }
  .widget.gsc-icon-box.top-center .title:after,
  .views-field-title a:after {
    content: '';
    width: 50px;
    height: 1px;
    background: #222;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    z-index: 1;
  }
}

#flexslider-2 {
  .views-field-title {
    text-align:left;
  }
  .views-field-title a:after {
    left: 0;
    margin-left: 0;
    color: #86BC42;
  }
}

#flexslider-1 .widget.gsc-icon-box .highlight_content .title, 
#flexslider-1 .views-field-title a, 
#flexslider-2 .widget.gsc-icon-box .highlight_content .title, 
#flexslider-2 .views-field-title a {
  display: block;
}

.navbar-toggle .icon-bar {
  background-color: #000;
}

/* Hide crise facet select by default, but show for expoesd form in block in content region */
#edit-crise-facet {
  display: none;
}
div.region-content #edit-crise-facet {
  display: block;
/*  min-width: 100px;*/
}

/* Glossaire - Bonifications */
.path-glossaire {
  .alert {
    margin-bottom:0;
  }
  .title_breadcrumb {
    margin-bottom:0;
  }
  .attachment-before {
    margin-bottom: 45px;
    font-size: 22px;
  }
  .view-content .views-row {
    margin-bottom: 4em;
  }
}



/* Liens Read More*/
.view-node a {
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    font-size: 12px;
  font-family: "Poppins",sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.view-node a i {
    font-size: 13px;
    position: relative;
    top: 1px;
    margin-left: 2px;
}
[class^="gv-icon"], [class*=" gv-icon"] {
    font-family: 'gva-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.gv-icon-165:before {
    content: "\e9a4";
}

/**/
.block-views-blockbloc-autres-connaissances-block-1 {
  background: #86BC42;
  color: #fff;
  padding: 20px;
}
.region-sidebar-second .block-views-blockbloc-autres-connaissances-block-1 {
  .block-title,
  .views-field-title {
    color: #fff;
  }
  .block-title {
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  a {
    color: #fff;
    line-height: 1;
    font-weight: normal;
  }
}

/* Cacher le titre du bloc en double sur Noeud Besoin */
.block-views-blockentity-reference-vs-besoin-block-1 h2.block-title {
  display: none;
}

/* Mise en page des Vertical Tabs */
.tabbable {
  background-color: #fff;
  border: 1px solid #86BC42;
  /* Compenser l'effet no-gutter appliqué sur les colonnes internes */
  margin-left: 0;
  margin-right: 0;
  .nav-stacked {
/*    width: 20%;
    float: left;*/
  }
  .tab-content {
/*    width: 80%;
    float: left;*/
  }
  .nav-tabs > li > a {
    background: #dff0d8;
    font-weight: 400;
    padding: 7px 10px !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0;
    border: 1px solid #86BC42;
    line-height: 1.7;
  }
  .views-row {
    margin-bottom: 0;
  }
}

.tabbable_title_wrapper {
  top: 25%;
  left: 0;
  padding: 0 25px;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.tabbable_body a,
.tabbable_title a {
  color: #fff;
  display: block;
  font-weight: normal;
  font-weight: bold;  
  line-height: 20px;
  text-decoration: none;
  cursor: hand;
  text-align: center;
}
.tabbable_title a {
  font-size: 30px;
  padding-bottom: 0.75em;
  line-height: 1;
}
.tabbable_body a {
  font-size: 15px;
  line-height: 1.33;
}


/* Glossaire */
.view-glossaire {
  margin-top: 25px;/* 10px déjà présent = 35px */
  .views-field-view-node a {
    border: 1px solid #86BC42;
    border-radius: 8px;
    padding: 4px 8px;
  }
}

/* Références bibliographiques */
.glyphicon.text-primary {
  color: #86BC42;
}
.bibcite-links ul {
  padding-left: 0;
}

/* Quicktabs */
.quicktabs-wrapper {
  padding: 40px 0 0;
}
ul.quicktabs-tabs {
  margin: 0;
  padding: 0 0 40px;
  text-align: center;
}
ul.quicktabs-tabs li a {
  padding: 6px 20px 5px;
}
ul.quicktabs-tabs li.active a {
  border: 1px solid #222;
  border-radius: 20px;
}

/* Création Compte Utilisateur */

#group-questionnaire .control-label {
  padding-left: 0;
}
.panel .panel-body {
  padding: 0;
}
#user-register-form {
  .form-wrapper {
    padding: 0;
  }
  #edit-account {
    padding-bottom: 1em;
  }
  .form-wrapper {
    padding: 0;
    border-bottom: 0;
  }
}
/* 18px pour les sections */
.panel .panel-heading .panel-title {
  font-weight: bold;
  font-size: 18px;
}
/* 16px pour les titres de champs (defaut) */
.fieldset-legend {
  font-weight: bold;
}

/* S'inscrire: cases à cocher */
.path-user .form-radio {
  margin-right: 20px;
  display: inline-block;
  position: relative;
}
.checkbox label,
.radio label {
  padding-left: 0;
}
/* S'inscrire: Boutons Radio */
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    position: relative;
    margin-right: 1em;
}
/* Visible dans les conditions d'utilisation du site à la création du compte */
.help-block {
  color: #657184;
}
/* Titre des champs taxos en double */
.path-user .field--type-entity-reference legend {
  display: none;
}
.path-user .field--item {
  color: #fff;
}


/* Profil Utilisateur */
.path-user {
  nav.tabs {
    text-align: center;
  }
  .nav-tabs {
    margin-bottom: 2em;
    display: inline-block;
  }
  .nav-tabs > li > a {
      padding: 6px 20px 5px;
  }
  .nav-tabs li.active a {
    border: 1px solid #222;
    border-radius: 20px;
  }
}

/* hide block-quicktabssuggestionsdecontenu on /user/register */

.tabs--primary {
  text-align: center;
}

/**
* Collapsiblock
*/
.ui-helper-reset {
  line-height: 1.8;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #ffffff;
  text-decoration: none;
}
.field-group-accordion-wrapper .ui-state-active {
  background-color: transparent;
  border: none;
}
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  font-size: 100%;
}
.field-group-accordion-wrapper h3, .path-user .region-content .block-title {
  letter-spacing: 0;
  color: #222;
  background: #fff;
  line-height: 28px;
  font-weight: 700;
}
.ui-accordion h3 {
  font-size: 14px;
  text-transform: initial;
}
.field-group-accordion-wrapper h3 {
  text-transform: initial;
  letter-spacing: 0;
  font-size: 14px;
}
.field-group-accordion-wrapper  {
  padding: 0;
}
.field-group-accordion-wrapper .ui-state-active {
  background: transparent;
  border: 1px solid rgba(0,0,0,0.1);
}
.ui-state-default,
.ui-state-hover {
  border: 1px solid #86BC42;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #222;
}
.field-group-accordion-wrapper .ui-state-active {
  background: transparent;
  border: 1px solid #86BC42;
}
.ui-widget-content {
  border: 1px solid #86BC42;
}
/* bouton ouvert doit être en noir et non en blanc */
.ui-state-active .ui-icon, 
.ui-button:active .ui-icon{
    background-image: url("images/ui-icons_444444_256x240.png");
}
.ui-icon, 
.ui-widget-content .ui-icon {
   background-image: url("images/ui-icons_444444_256x240.png") !important;
}

/* Flags */
.crise-flags a {
  height: 25px;
  width: 25px;
  background: rgb(1, 102, 255);
  display: block;
  float: right;
  border-radius: 4px;
  margin-right: 4px;
  margin-top: 0;
  font-size: 0;
}
.crise-flags a::before {
  content: "\f024";
  font-size: 20px;
  text-indent: 2px;
  line-height: 25px;
  color: #fff;
}
a[href*="unflag"]::before {
  color: #86bc42;
}


/* Apparaît sous Noeud Modèle */
.main-container .flag {
  display: none;
}
.path-user .main-container .flag {
  display: block;
}




/* Intégration profil Utilisateur */
.panel-default > .panel-heading {
  border-color: 1px solid #86BC42;
}
/* Niveau 1 : Panneau et Titre de blocs */ 
.panel .panel-heading .panel-title,
.path-user .region-content .block-title,
#edit-account .control-label {
  font-size: 14px;
  padding-right: 20px;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: #262C38;
  text-transform: initial;
}
.panel .panel-heading .panel-title,
.path-user .region-content .block-title,
#edit-account .control-label {
  border-bottom: 1px solid #86BC42;
}
/* Supprimer le soulignement de titre sur 2e niveau */
.path-user .panel-body .field--label {
  border-bottom: none;
}
/* Préférences, panel du bas - supprimer barre grise */
.path-user .panel .panel-heading {
  border: none;
}

.panel-body .field--type-entity-reference {
  margin-bottom: 2em;
}

.path-user {

  #bootstrap-panel {
    padding:0;
  }

  /* Niveau 2 : Field label */
  .user-register-form .field--label {
      font-size: 16px;
      font-family: "Poppins",sans-serif;
      font-weight: 600;
      color: #222;
      margin-bottom: 3px;
      text-transform: initial;
  }
  /* Niveau 3 : texte defaut */
  .user-register-form .field--item,
  #block-views-block-favorisation-contenu-block-1 .views-field-title,
  #block-views-block-favorisation-medias-block-1 .views-field-name,
  #block-views-block-favorisation-ref-biblio-block-1 .views-field-title,
  #quicktabs-suggestions_contenu .views-field-title,
  #block-views-block-medias-profil-taxo-type-groupe-block-1 .views-field-name {
    color: #657184;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #657184;
    font-weight: 400;
  }
  #quicktabs-suggestions_contenu {
    padding-top:0;
  }
  #quicktabs-container-suggestions_contenu .views-field-name,
  #block-views-block-medias-profil-taxo-type-groupe-block-1 .views-field-name-1 { 
  /* Niveau 4 small */
    font-size: 12px;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    border-bottom: none;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #222;
    letter-spacing: 1px
  }
}


#user-register-form .form-wrapper#edit-actions {
    border-bottom: none;
    text-align: center;
}



/* ENLEVER BOUTON DE SEARCH BUTTON 
#edit-submit--2.button,
#crisecustom-search-form #edit-actions #edit-submit {
  background: transparent;
  color: #000;
  overflow: hidden;
  border-radius: 0 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  padding: 0;
  display: inline-block;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: #eee;
  z-index: 10;
}
*/

/* Ne pas montrer bouton original */
#crisecustom-search-form #edit-actions {
    display: none;
}
#crisecustom-search-form #edit-actions #edit-submit {
  
}



/* Contact - Bonifications */
.contact-message-form .js-form-item-mail {
    height: auto;
    line-height: auto;
    padding-left: 0;
background: transparent;
   } 

/**
* Modèle associé + Services associés sur Besoins
*/
.view-entity-reference-vs-besoin,
.view-entity-reference-vs-groupe {
  .view-content {
    text-align:center;
  }
  img {
    margin:0 auto;
  }
} 

/* Taxonomie Listes */
/* Le bouton en savoir plus est en position:absolute en bas (car il apparait avant dans le html) */
/* TODO: changer l'ordre de sortie html dans le résumé affiché */
.path-taxonomy {
  ul.links {
    clear: both;
    position: absolute;
    bottom: -40px;
    left: 0;
    font-weight: bold;
  }
  .list-inline > li {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Profil Usager */
#block-views-block-favorisation-ref-biblio-block-1 {
  margin-bottom:0;
}
#block-quicktabssuggestionsdecontenu {
  padding-top: 60px;
  margin-top: 60px;
  border-top: 2px solid #86BC42;
}
#block-views-block-medias-profil-taxo-type-groupe-block-1 {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 2px solid #86BC42;
}



/* Médias */
audio,
video {
  width: 100%;
  height: auto;
}
/* Forcer la hauteur sur Chrome */
audio {
  height: 40px;
  margin-bottom: 1em;
}

.path-media .field--name-field-media-image {
  padding-bottom:2em;
}


/*************************************************
*
* Responsive @media 
*
**************************************************/

/* 1- mobile - petits écran */

@media (max-width: 460px) {
  /* donner pleine largeur aux items du menu secondaire*/
  ul.menu.menu--menu-secondaire > li {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  /* Sur cellulaire, passer pleine largeur, aligne à gauche */
  #block-textepresentationsite {
      margin-bottom: 0;
      float: none;
      display: block;
      clear: both;
      margin-top: 0;
  }
  #block-textepresentationsite p {
    padding-left: 0;
  }

}

/* 2- Mobile, excluant la tablette 768 */
@media (max-width: 767px) {
  /* Cacher description sur mobile*/
  .path-frontpage #flexslider-1 .views-field-body {
    display: none;
  }
/* Footer - Logo Footer pleine largeur et centré */
  #block-footercopyright-2 img {
    max-width: 100%;
    display: block;
    clear: both;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  /* Sur petits écrans, empiler les quicktabs, sinon ils tombent hors de l'affichage sur les tables responsive */
  .path-user ul.quicktabs-tabs li {
    display: block;
  }

  /* Puisque les icônes ne se rapetissent pas, laisser près de la moitié de l'espace aux icônes */
  .region-breadcrumb {
    h1 {
      width: 55%;
    }
  }
}

/* 3-Tablette et - // col-xs // 0-768 */
@media (max-width: 768px) {
  /* Faire flotter le menu à droite sur mobile seulement (desktop, à gauche)*/
  #block-crise-main-menu {
    position: relative;
    padding-right: 90px;
    float: right;
  }
  .menu--menu-secondaire > li > a {
    width: 100%;
  }
  /* rendre menu primaire pleine largeur */
  #block-crise-main-menu {
    float: none;
  }
  /* Annuler l'enchassement du slogan */
  /* 768px Safari Tablette : menu collé car le menu mobile n'est pas déclenché
  *
  * Compenser le padding du menu et du logo
  */
  .navbar-collapse {
    padding-left: 0px;
  }
  .logo {
    padding-right: 15px;
    z-index: 98;/*test pour émulateur safari*/
  }
  .navbar-nav {
      margin: 0;
  }
  .region-sidebar-first {
    border-bottom: 2px solid #86BC42;
  }



}

/* Footer - 3 tailles à traiter */
@media (max-width: 460px)  {
  /* Sur mobile, forcer l'alignement gauche-droite des blocs Boutons et Présentation*/
  .footer-first {
    width: 100%;
    float:left;
  }
  .footer-second {
    width: 100%;
    float:left;
  }
  .footer-third #block-footerlogos {
    width: 100%;
  }
}
@media (min-width: 460px) and (max-width: 992px)  {
  /* Sur mobile, forcer l'alignement gauche-droite des blocs Boutons et Présentation*/
  .footer-first {
    width: 50%;
    float:left;
  }
  .footer-second {
    width: 50%;
    float:left;
  }
  .footer-third #block-footerlogos {
    width: 100%;
  }
}

/* 4- Au-dessus de 992px, géré par Bootstrap */
@media (min-width: 992px) {
  /* Tweaker l'alignement des blocs */
    .footer-second {
      margin-left: -30px;
      margin-right: 30px;
  }
}
/* Annuler règle Bootstrap sur la recherche */
@media (max-width: 992px) {
  .views-exposed-form > div {
      width: 100%;
  }
}

/* col-sm // 768-992 */
@media (min-width: 768px) and (max-width: 992px) {}
/* col-md // 992-1200 */
@media (max-width: 1200px) {}
/* col-lg 1200+ */
@media (min-width: 1200px) {}
/* écrans larges */
@media all and (min-width: 1200px) and (max-width: 9999px) {}



/**
* Varia 
*/

/*  Bootstrap Clearfix */

/* Utilities */
/* Remove gutter with a class : https://stackoverflow.com/a/19563497 */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#views-exposed-form-environnement-recherche-page-1 .form-type-search-api-autocomplete {
  /*width: 80%;*/
}
#crisecustom-search-form .form-group input.form-control {
 /* max-width: 300px;*/
}

.path-bibliographie .region-header,
.path-recherche .region-header {
  display: flex;
}
.path-bibliographie .region-header p,
.path-recherche .region-header p {
  margin-bottom: 0;
}
#block-block-content-f42d7565-ff15-4392-9969-8815a9e08493,
#block-reinitialiserrecherche {
  margin-top: 0.2em;
  margin-left: 0.5em;
}


/* ACCUEIL - STRUCTURE DU BLOC RECHERCHE 
.block.accueil_recherche_texte
.block
  .form
    .views-exposed-form > div (PARENT)
      .form-item-crise-facet
        select-wrapper
          #edit-crise-facet

      .form-type-search-api-autocomplete
        .input-group
          input

      #edit-actions--2    
        #edit-submit-environnement-recherche
*/


/* Flex: élément englobant, sous le form */
#views-exposed-form-environnement-recherche-page-1 > div  {
  display:flex;
}
#views-exposed-form-environnement-recherche-page-1 {
  /* flex: 75% à l'élément central via flex-basis*/
  .form-type-search-api-autocomplete {
      flex-basis: 75%;
      padding: 0 10px;
  }
  /* supprimer bordure sur élément interne*/
  .views-exposed-form .form-item input {
    border: none;
    border-radius: 0;
  }
  /* cadre */
  .form-type-search-api-autocomplete {

  }
  /* donner 100% au parent de la balise input + rapporter bordure */
  div.input-group {
    width:100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }

}
.block-views-exposed-filter-blockenvironnement-recherche-page-1 #edit-search-api-fulltext--2 {
  border: none; /* double bordure*/
  height: 45px;
}


/* Structure du bloc Recherche sur Bibliographie (via Context)
.path-bibliographie
  .region-header
    (input + submit)
    #block-views-exposed-filter-block-environnement-recherche-bibliographie-page-1
      .views-exposed-form
        .views-exposed-form > div
          (input)
          .views-exposed-form .form-item
            input
          #edit-actions--2
            button

    (réinitialiser)
    #block-block-content-f42d7565-ff15-4392-9969-8815a9e08493
      (texte du bloc)

*/

/* Recherche */
.block-views-exposed-filter-blockenvironnement-recherche-page-1 .form-item-crise-facet {
  padding-right: 0;
}
#block-reinitialiserrecherche {
  margin-top:0;
}
.path-recherche .block-views-exposed-filter-blockenvironnement-recherche-page-1 #edit-search-api-fulltext--2 {
  height: 40px;
}


/* Recherche Header: bordure*/
#crisecustom-search-form .form-group:hover {
  border-radius: 30px;
  box-shadow: none;
}
/* Blocs de présentation - déplacer dans une autre région */
#block-recherchetextepresentationbesoin,
#block-recherchetextepresentationconnaissance,
#block-recherchetextepresentationdefinition,
#block-recherchetextepresentationgroupe,
#block-recherchetextepresentationmodele {
  display: none;
}

/* Double ombre sur Recherche Header: la classe est appellée 2 fois, une dans l'autre */
/*
#crisecustom-search-form .form-group {
  box-shadow:none;
  border:none;
}
#crisecustom-search-form > .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 30px;
    border: 1px solid #ccc;

}
*/


